  <div class="uk-panel uk-panel-box uk-panel-box-primary">
    <a href="#" class="uk-alert-close uk-close"></a>
    <div class="uk-block-primary">{{board-edit item=item }}</div>
        <div class="uk-block-default">
            <ul class="uk-list uk-list-stripped">
              {{log item.tasks }}
              {{#each item.tasks as |task| }}
                  <li>
                    <label>
                      {{#link-to "boards.taskitem" item.id task.id}}
                          {{task.taskName}}
                      {{/link-to}}
                    </label>
                  </li>
              {{/each}}
              <li>
                <label>
                      {{#link-to "boards.task" item.id}}
                          Add new board
                      {{/link-to}}
                </label>
              </li>
            </ul>
        </div>
  </div>