  <div class="uk-scrollable-box">
    <div>{{board-edit item=item }}</div>
    <ul class="uk-list">
      {{#each item.task as |task| }}
          <li>
            <label>
              {{#link-to "boards.taskitem" item.id task.id}}
                  {{task.title}}
              {{/link-to}}
            </label>
          </li>
      {{/each}}
      <li>
        <label>
              {{#link-to "boards.task" item.id}}
                  Add new board
              {{/link-to}}
        </label>
      </li>
    </ul>
  </div>
