  <div class="uk-scrollable-box">
    <div>{{item.name}}( {{item.count}} )</div>
    <ul class="uk-list">
      {{#each item.task as |task| }}
        <li><label>{{task.title}}</label></li>
      {{/each}}
      <li>
        <label>
              {{#link-to "boards.task"}}
                  Add new board
              {{/link-to}}
        </label>
      </li>
    </ul>
  </div>
