<table>
  <tr>
    {{#each filteredBoards as |board|}}
      <td>
        <table>
          <tr>
            <td>{{board.name}}</td><td>count items = {{ board.count }}</td>
          </tr>
        </table>
      </td>
    {{/each}}
  </tr>
</table>
