<div class="uk-overflow-container">
  <table>
    <tr>
        {{#each filteredBoards as |board|}}
          <td>
            {{#if board.id }}
              {{#board-task item=board}}
              {{/board-task}}
            {{/if}}
          </td>
        {{/each}}
    </tr>
  </table>
</div>
{{outlet}}