<div class="uk-overflow-container">
  <table>
    <tr>
        {{#each filteredBoards as |board|}}
          <td>
            {{#if board.id }}
              {{#board-task item=board}}
              {{/board-task}}
            {{/if}}
          </td>
        {{/each}}
    </tr>
  </table>
</div>

<div class="uk-panel-box uk-width-1-10">
  {{#link-to "boards.new"}}
    <button class="uk-button">Add</button>
  {{/link-to}}
</div>

<div class="uk-panel-box-primary uk-width-1-6 uk-align-center">
  {{outlet}}
</div>